<div class="menu">
	<h2>Administracion de mascotas</h2>
	<button  class="menubutton" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Menu">
	  <p>Menu <mat-icon>more_vert</mat-icon></p> 
	</button>
	<mat-menu #menu="matMenu">
	  <a routerLink="/create-persona">
	  	<button mat-menu-item>
	    <mat-icon>add_circle</mat-icon>
	    <span>Crear dueño con sus mascotas</span>
	  </button>
	  </a>
	  <a routerLink="/personas">
		  <button mat-menu-item>
		    <mat-icon>toc</mat-icon>
		    <span>Listar las mascotas de un dueño</span>
		  </button>
		</a>
	</mat-menu>
</div>
<router-outlet></router-outlet>